.header {
  width: 100vw;

  padding: 22px 15px 65px 15px;

  display: flex;
  justify-content: space-between;
}

.profile-container {
  width: 100vw;

  border: 1px solid var(--black);
  border-radius: 3px 3px 0 0;
}

.profile {
  margin-left: 30px;

  display: flex;
  align-items: flex-end;
  gap: 15px;
}

.profile-img {
  width: 120px;
  height: 150px;

  border: 1px solid var(--black);
  border-radius: 3px;
}

.profile-img-container {
  position: relative;
  top: -30px;
}

.profile-name-container {
  margin-bottom: 60px;
}

.form {
  margin-left: 30px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
